.notfound {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.notfound-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  place-items: center;
}
.button-404 {
  font-weight: 300;
  background-color: var(--hospital-green);
  color: var(--white);
  font-size: 1.2em;
  text-decoration: none;
  border: 1px solid #efefef;
  padding: 0.5em;
  border-radius: 3px;
  float: left;
  transition: all 0.3s linear;
}

.text-404 {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.title-404 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
  font-size: 10em;
  font-weight: 100;
}
